<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="../css/styleHome.scc">
    <link rel="stylesheet" type="text/css" href="../fontawesome//css/all.min.css">

    <title>Daftar Menu</title>
  </head>
  <body>
    <!-- Awal Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Makanan khas <strong>Indonesia</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/HOME">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/DAFTAR MENU">DAFTAR MENU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/PESANAN ANDA">PESANAN ANDA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/CONTACT ME">CONTACT ME</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- akhir Navbar -->
    <!-- awal Carousel -->
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../static/img/nasgor2.jpg" alt="Girl in a jacket" width="100%" height="400">
        </div>
        <div class="carousel-item">
          <img src="../static/img/bakso1.jpg" alt="Girl in a jacket" width="100%" height="400">
        </div>
        <div class="carousel-item">
          <img src="../static/img/stae3.jpg" alt="Girl in a jacket" width="100%" height="400">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- akhir Carousel -->

  <!-- awal menu -->
  <div class="container">
    <div class="judul-Menu" style="background-color : #fff; padding: 5px 10px;">
      <h5 class="text-center" style="margin-top: 5px;"></h5>MENU</h5>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-6 mt-2">
        <div class="card text-center">
          <img src="../static/img/images.jpeg" alt="Girl in a jacket" width="100%" height="100%">
          <div class="card-body">
            <h6 class="card-title">Menu pertma</h6>
            <p class="card-text">30.000</p>
            <a href="#" class="btn btn-dark d-grid">Beli</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-6 mt-2">
        <div class="card text-center">
          <img src="../static/img/images.jpeg" alt="Girl in a jacket" width="100%" height="100%">
          <div class="card-body">
            <h6 class="card-title">Menu pertma</h6>
            <p class="card-text">30.000</p>
            <a href="#" class="btn btn-dark d-grid">Beli</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col- mt-2">
        <div class="card text-center">
          <img src="../static/img/images.jpeg" alt="Girl in a jacket" width="100%" height="100%">
          <div class="card-body">
            <h6 class="card-title">Menu pertma</h6>
            <p class="card-text">30.000</p>
            <a href="#" class="btn btn-dark d-grid">Beli</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-6 mt-2">
        <div class="card text-center">
          <img src="../static/img/images.jpeg" alt="Girl in a jacket" width="100%" height="100%">
          <div class="card-body">
            <h6 class="card-title">Menu pertma</h6>
            <p class="card-text">30.000</p>
            <a href="#" class="btn btn-dark d-grid">Beli</a>
          </div>
        </div>
      </div><div class="col-lg-2 col-md-2 col-sm-4 col-6 mt-2">
        <div class="card text-center">
          <img src="../static/img/images.jpeg" alt="Girl in a jacket" width="100%" height="100%">
          <div class="card-body">
            <h6 class="card-title">Menu pertma</h6>
            <p class="card-text">30.000</p>
            <a href="#" class="btn btn-dark d-grid">Beli</a>
          </div>
        </div>
      </div><div class="col-lg-2 col-md-2 col-sm-4 col-6 mt-2">
        <div class="card text-center">
          <img src="../static/img/images.jpeg" alt="Girl in a jacket" width="100%" height="100%">
          <div class="card-body">
            <h6 class="card-title">Menu pertma</h6>
            <p class="card-text">30.000</p>
            <a href="#" class="btn btn-dark d-grid">Beli</a>
          </div>
        </div>
      </div><div class="col-lg-2 col-md-2 col-sm-4 col-6 mt-2">
        <div class="card text-center">
          <img src="../static/img/images.jpeg" alt="Girl in a jacket" width="100%" height="100%">
          <div class="card-body">
            <h6 class="card-title">Menu pertma</h6>
            <p class="card-text">30.000</p>
            <a href="#" class="btn btn-dark d-grid">Beli</a>
          </div>
        </div>
      </div><div class="col-lg-2 col-md-2 col-sm-4 col-6 mt-2">
        <div class="card text-center">
          <img src="../static/img/images.jpeg" alt="Girl in a jacket" width="100%" height="100%">
          <div class="card-body">
            <h6 class="card-title">Menu pertma</h6>
            <p class="card-text">30.000</p>
            <a href="#" class="btn btn-dark d-grid">Beli</a>
          </div>
        </div>
      </div>
  <!-- akhir menu -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">PESANAN ANDA</a>
  </div>
  <!-- Copyright -->

  <!-- awal pesanan-->
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <td scope="row">02</td>
              <td>Bakso</td>
              <td>3</td>
              <td>Rp ...</td>
              <td>Belum Bayar</td>
            </tr>
            <tr>
              <td scope="row">05</td>
              <td>Sate</td>
              <td>5</td>
              <td>Rp ...</td>
              <td>Belum Bayar</td>
            </tr>
            <tr>
              <td scope="row">04</td>
              <td>Soto</td>
              <td>2</td>
              <td>Rp ...</td>
              <td>Sudah Bayar</td>
            </tr><tr>
              <td scope="row">08</td>
              <td>Soto</td>
              <td>2</td>
              <td>Rp ...</td>
              <td>Sudah Bayar</td>
            </tr><tr>
              <td scope="row">10</td>
              <td>Soto</td>
              <td>2</td>
              <td>Rp ...</td>
              <td>Sudah Bayar</td>
            </tr>
              <td scope="row">04</td>
              <td>Soto</td>
              <td>2</td>
              <td>Rp ...</td>
              <td>Sudah Bayar</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- awal pesanan-->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">CONTACT ME</a>
  </div>
  <!-- Copyright -->

  <!-- AwalFooter -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <div class="text-center mt-3">
    <h1>Ach Nauval Azizi</h1>
    <p class="ms-5 me-5">Website ini saya buat dengan senang hati</p>
  </div>
  <!-- jumbotron -->
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-3">
              <i class="fas fa-gem me-3"></i>Keterangan
            </h6>
            <p>
              Saya membuat website MAKANAN KHAS INDONESIA ini karna ter- inspirasi dari YouTube
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Product
            </h6>
            <p>
              <a href="#!" class="text-reset">Leptop</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Mouse</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Keyboard</a>
            </p>
            <p>
              <a href="#!" class="text-reset">dan alat kompputer lain nya</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>
              <i class="fas fa-envelope me-3"></i>
              nauvalazizi078@.com
            </p>
            <p><i class="fas fa-phone me-3"></i> 081022999916</p>
            <p><i class="fas fa-print me-3"></i> 081999222808</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/"> TERIMAKASIH</a>
      <h6>kalok puah bisa kembali lagi di Toko Online saya</h6>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>
</html>
